html{
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

input::placeholder{
    text-align: center;
}

input:focus::placeholder{
    font-size: 11px;
    transition: font-size 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}